<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='/css/Homepage.css') }}" />
    </head>

    <body>
    <h1>Workshop RBFA <img class="logo" src="{{ url_for('static', path='/images/logo.jpg') }}" alt="logo rbfa"> </h1>
    <h2>Cloud Storage</h2>
    <p>temp file uploaded bucket folder that contains timestamp! <a href="http://127.0.0.1:8000/">Return to homepage</a> </p>
    </body>
</html>
